name = "cloud-mail"
main = "src/index.js"
compatibility_date = "2025-06-04"
keep_vars = true

[observability]
enabled = true

[[d1_databases]]
binding = "db"			#d1数据库绑定名默认不可修改
database_name = "clou-mail"		#d1数据库名字
database_id = "b4ce50a8-a581-4fc7-bb00-f51e2b30b648"		#d1数据库id

[[kv_namespaces]]
binding = "kv"			#kv绑定名默认不可修改
id = "1bcad5c503574f1cb46814444a2b9b0c"					#kv数据库id

#[[r2_buckets]]
#binding = "r2"			#r2对象存储绑定名默认不可修改
#bucket_name = ""		#r2对象存储桶的名字

[assets]
binding = "assets"		#静态资源绑定名默认不可修改
directory = "./dist"	#前端vue项目打包的静态资源存放位置,默认dist
not_found_handling = "single-page-application"
run_worker_first = true

[triggers]
crons = ["0 16 * * *"]	#定时任务每天晚上12点执行


[vars]
#orm_log = false
domain = ["sjtu.qzz.io","fdu.de5.net","edx.qzz.io","xkkx.de","zoeoe.de","edxx.de"]				#邮件域名可可配置多个 示例: ["example1.com","example2.com"]
admin = "mail@edxx.de"				#管理员的邮箱	示例: admin@example.com
jwt_secret = "Siodf183VYUR8F4h4k92CgEh97bR"			#jwt令牌的密钥,随便填一串字符串

[build]
command = "pnpm --prefix ../mail-vue install && pnpm --prefix ../mail-vue run build"
